body {
  padding-top: 140px;
  justify-content: center;
  font-family: arial;
}

/*Boton buscar y barra de búsqueda*/

.buscar{
  position: fixed;
  padding: 10px;
  left: 40px;
}

      @media (max-width:767px) {
        .buscar {
          left: 90px;
        }
      }

.buscar input{
  width: 0px;
  height: 34px;
  padding: 0 20px;
  font-size: 18px;
  color: #000;
  outline: none;
  border: 1px solid #A9A9A9;
  border-radius: 30px;
  transition: all 0.6s ease;
}

header > .buscar > .btn{
  position: absolute;
  top: 0;
  right: 0;
  background: #EFEFEF;
  width: 55px;
  height: 55px;
  line-height: 65px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.buscar:hover input{
  width: 240px;
}
.buscar input:focus{
  width: -240px;
}

/*Header*/

header {
  background-color: #FF3B3F;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  box-shadow: 0 0 10px;
  z-index: 1; /*Coloco el header por encima de todos los elementos de la página*/
}

#btn-menu {
  display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);

}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    border-right: 0px solid #FFF;
    border-left: 1px solid #FFF;
}

.menu li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color:#EFEFEF;
    text-decoration: none;
}

@media (max-width:767px) {

  header label {
      display: block;
      position: absolute;
      left: 10px;
  }

  .menu {
      position: absolute;
      background: #555d5f;
      width: 50%;
      left: 0px;
      top: 100px;
      margin-left: -70%;
      transition: all 0.2s;
  }

  .menu ul {
      flex-direction: column;
  }

  .menu li {
      border-top: 1px solid #FFF;
  }

  #btn-menu:checked ~ .menu {
      margin: 0;
  }

}


/*Formulario*/

.formulario{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

@media (max-width:767px) {
  .formulario {
    grid-template-columns: auto;
  }
}

input, label {
  display: block;
  width: 100%;
}

.campo_formulario{
  float: left;
  padding: 10px;
  width: 300px;
}

.etiqueta{
  border-radius: 20px;
}

a:visited{/*color:black;*/
  text-decoration: none;
        }     /* defino como quiero que sean los link para que no tenga subrayado */

.item1{ padding-top: 10px; 
     padding-left: 20%;
}

.item2{ padding-top: 10px; 
 
}

.foot{
  padding-top: 30px;
  margin-left: 60px;
  line-height: 10px;
  text-align: center;
}


@media (max-width:967px) {
.foot {
  margin-left: 10px;
  
}
}
a:visited{color:black;
  text-decoration: none;
        }  








